<main>
  <h1 class="title">Hello from Imhere Angular Wizard !</h1>
  <div class="container main-content">
    <div class="row main-description ">
      <div class="col-md-6 col-md-offset-3">
        <p class="text-left">
          A collection of CSS3 powered hover effects to be applied to links, buttons, logos, SVG,
          featured images and so on. Easily apply to your own elements, modify or just use for inspiration.
          Available in CSS, Sass, and LESS.
        </p>
        <a href="https://github.com/imheretw/imhere-angular-wizard" class="download-btn hvr-float-shadow "><i class="fa fa-github" aria-hidden="true"></i> Download on Github</a>
      </div>
    </div>
    <div class="page-header text-left">
      <h3>Example</h3>
    </div>
    <div class="pannel-box">
      <imhere-wizard on-finish="app.finish()" set-main-color="#6bbed7" >
        <div class="row">
          <div class="col-md-12">
            <imhere-step title="Step1">
              <h1>Step1</h1>
              <p>You can set custome color and hover color control style or use default style</p>
              <code>
                 on-finish="app.finish()" <br>
                 set-main-color="#6bbed7"
              </code>
              <br>
              <imhere-next>NEXT ></imhere-next>
            </imhere-step>
            <imhere-step title="Step2" >
              <h1>Step2</h1>
              <div class="col-md-6 col-md-offset-3 text-left">
                <p>&lt;imhere-pret&gt; &lt;imhere-next&gt;&lt;imhere-complete&gt;</p>
                <h4>attrs: </h4>
                <ol>
                  <li>disable-hover-class:  you can disable hover animation</li>
                  <li>custome-class:  you can custome style</li>
                  <li>disabled:  you can controll diabled by boolean</li>
                  <a ng-click="app.lockCheckPass()">Click here lock next button</a><br>
                  <a ng-click="app.setCheckPass()">Click here unlock next button</a><br>
                </ol>
              </div>
               <div class="col-md-12">
                 <imhere-pre disable-hover-class="true" custome-class="custome hvr-backward">< BACK</imhere-pre>
                 <imhere-next disabled="app.check()">NEXT ></imhere-next>
               </div>
            </imhere-step>
            <imhere-step title="Step3">
              <h1>Step3</h1>
              <p>Click Complete will trigger onFinsh function</p>
              <imhere-pre>BACK</imhere-pre>
              <imhere-complete>COMPLETE !</imhere-complete>
            </imhere-step>
            <imhere-step-complete>
              <h1>Complete!</h1>
              <p>display what you want</p>
            </imhere-step-complete>
          </div>
          <div class="col-md-12">
              <imhere-current-step> of </imhere-current-step><imhere-total-step></imhere-total-step>
          </div>
        </div>
      </imhere-wizard>
    </div>
    <div class="pannel-box">
      <imhere-wizard on-finish="app.finish()" set-main-hover-color="#eb9c4a">
        <div class="row">
          <div class="col-md-12">
            <imhere-step title="Step1">
              <h1>Step1</h1>
              <p>&lt;imhere-steps-dotted&gt;</p>
              <p>Display dotteds</p>
              <imhere-next>NEXT </imhere-next>
            </imhere-step>
            <imhere-step title="Step2" disabled="app.check()">
              <h1>Step2</h1>
              <p>You have continued here!</p>
              <imhere-pre>BACK</imhere-pre>
              <imhere-next>NEXT</imhere-next>
            </imhere-step>
            <imhere-step title="Step3">
              <h1>Step3</h1>
              <p>Click Complete will trigger onFinsh function</p>
              <imhere-pre>BACK</imhere-pre>
              <imhere-complete>Complete</imhere-complete>
            </imhere-step>
          </div>
          <div class="col-md-12">
            <imhere-steps-dotted></imhere-steps-dotted>
          </div>
        </div>
      </imhere-wizard>
    </div>
    <div class="pannel-box">
      <imhere-wizard on-finish="app.finish()" >
        <div class="row">
          <div class="col-md-12">
            <imhere-steps-nav>
              <imhere-step-btn ng-repeat="step in [1,2,3] track by $index" step-index="$index"></imhere-step-btn>
            </imhere-steps-nav>
          </div>
          <div class="col-md-12">
            <imhere-step title="Default step button">
              <h1>Default step button</h1>
              <p>You have continued here!</p>
              <imhere-next>NEXT </imhere-next>
            </imhere-step>
            <imhere-step title="Step1">
              <h1>Step1</h1>
              <p>You have continued here!</p>
              <imhere-pre>BACK</imhere-pre>
              <imhere-next>NEXT</imhere-next>
            </imhere-step>
            <imhere-step title="Step2">
              <h1>Step2</h1>
              <p>Click Complete will trigger onFinsh function</p>
              <imhere-pre>BACK</imhere-pre>
              <imhere-complete>Complete</imhere-complete>
            </imhere-step>
          </div>
        </div>
      </imhere-wizard>
    </div>
    <div class="pannel-box">
      <imhere-wizard on-finish="app.finish()" >
        <div class="row">
          <div class="col-md-10">
            <imhere-step title="Default step button">
              <h1>Default step button</h1>
              <p>You have continued here!</p>
              <imhere-next>NEXT </imhere-next>
            </imhere-step>
            <imhere-step title="Step1">
              <h1>Step1</h1>
              <p>You have continued here!</p>
              <imhere-pre>BACK</imhere-pre>
              <imhere-next>NEXT</imhere-next>
            </imhere-step>
            <imhere-step title="Step2">
              <h1>Step2</h1>
              <p>Click Complete will trigger onFinsh function</p>
              <imhere-pre>BACK</imhere-pre>
              <imhere-complete>Complete</imhere-complete>
            </imhere-step>
          </div>
          <div class="col-md-2">
            <imhere-steps-nav vertical="true">
              <imhere-step-btn ng-repeat="step in [1,2,3] track by $index" step-index="$index"></imhere-step-btn>
            </imhere-steps-nav>
          </div>
        </div>
      </imhere-wizard>
    </div>
  </div>
  <div class="footer"></div>

</main>
