/* styles in src/style directory are applied to the whole page */
body {
  background: #ffffff;
  color: #7e7e7e;
}

a {
  color: #03A9F4;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}
.title{
  position: relative;
}
.title:after{
  content:'';
  display:block;
  width: 100%;
  height: 1 px;
  position: absolute;
  bottom:4px;
  border-bottom: 1px rgb(207, 199, 199) dashed;
}
.main-content:before{
  content:'<ImHere>';
  display:block;
  padding:30px 10px;
  font-family: 'Squada One', cursive;
  font-weight: bold;
  position: absolute;
  top: 23px;
  background: rgb(214, 201, 177);
  color:#636161;
  font-size: 30px;
}

.pannel-box{
  width:100%;
  margin: 20px auto;
  border: 1px rgb(168, 168, 168) dashed;
  padding:40px 0;
}
.main-description{
  padding:10px 0 50px 0;
}
a.download-btn{
  font-family: 'Handlee', cursive;
  display: inline-block;
  margin: 40px auto 20px auto;
  background: rgb(68, 210, 206);
  color:#fff;
  padding:10px 40px;
  font-size: 2em;
  text-decoration: none;
  cursor: pointer;
}
a.reset-btn{
  margin-top: 30px;
  text-decoration: none;
  cursor: pointer;
}
.footer{
  margin-top: 200px;
  background: #636161;
  width:100%;
  height: 30vh;
}
a.custome{
  background: rgb(134, 182, 31);
}
