.imhere-wizard-container {
  width: 100%;
  position: relative;
}
.imhere-wizard-container a {
  cursor: pointer;
}
.imhere-dotted-container {
  width: 100%;
  text-align: center;
  position: relative;
}
.imhere-dotted-container a {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: rgb(80, 144, 161);
  border-radius: 100%;
}
.imhere-step-btn {
  cursor: pointer;
}
.imhere-next, .imhere-pre, .imhere-total-step, .imhere-current-step, .imhere-complete {
  cursor: pointer;
}
.imhere-steps-container {
  position: relative;
}
