.imhere-wizard-container {
  width: 100%;
  position: relative;
}

/*--main-color from imher-wizard component*/
.imhere-wizard-container a {
  cursor: pointer;
}
.imhere-dotted-container {
  width: 100%;
  text-align: center;
  position: relative;
}
a.imhere-dotted {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: var(--main-color);
  border-radius: 100%;
  margin-left: 3px;
}
a.imhere-dotted.selected{
  background: var(--main-hover-color);
  width: 6px;
  height: 6px;

}
.imhere-step-btn {
  cursor: pointer;
}
.imhere-next, .imhere-pre, .imhere-total-step, .imhere-current-step, .imhere-complete {
  cursor: pointer;
  color: var(--main-color);
}
a.imhere-next, a.imhere-pre, a.imhere-complete {
  padding: 10px 50px;
  display: inline-block;
  background: var(--main-color);
  border-radius: 5px;
  margin: 20px 10px;
  color: #fff;
  text-decoration: none;
}
a.imhere-next:hover, a.imhere-pre:hover, a.imhere-complete:hover {

}
.imhere-steps-container {
  position: relative;
}
